.auth form {
    margin: 5rem auto;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
    width: 25rem;
    border-radius: 8px;
    padding: 1rem;
    text-align: center;
    background-color: #f4f0facc;
    border: 0.6px solid #4d47475d
}

.hidden {
    display: block;
    color: #616161;
    margin-bottom: 0.5rem;
}

.auth input {
    display: block;
    width: 20rem;
    margin: auto;
    border-radius: 4px;
    padding: 0.25rem;
    border: 0.8px solid #4d474771
}

.auth input:hover,
.auth input:active {
    color: var(--color-primary-800);
    border: 1.2px solid #4d4747bb;
}

.auth button {
    font-size: 1rem;
    background-color: #dcedfa6c;
    border: 1px solid #989595;
    border-radius: 6px;
    padding: 0.2rem 1rem;
    box-shadow: 0 1px 8px rgba(0, 0, 0, 0.2);
    color: #606060;
}

.auth button:hover,
.auth button:active {
    cursor: pointer;
    color: var(--color-primary-800);
    color: #a6a1a1e0;
    border: 1.2px solid #444343c4;
}